// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
li {
list-style :none;
color: green;
line-height: 48px;
font-size: 25px;
    a:link, a:visited{
        text-decoration: none;
        color: inherit;
    }
    a, a:hover{
        color: purple;
        background-color: white;
    }
}